<footer>
    <div class="foot">
      <p class="footertopic">Mr. Coffee&nbsp;!</p>
      
      <div class="socials">
        <a href="https://www.linkedin.com/" target="_blank"><img src="" alt="LinkedIn white logo"></a>
        <a href="https://www.twitter.com/" target="_blank"><img src="Assets/logo_twitter.png" alt="Twitter white logo"></a>
        <a href="https://www.facebook.com/" target="_blank"><img src="Assets/logo_facebook.png" alt="Facebook white logo"></a>
      </div>
    </div>

  </footer>