<header>
    <div class="nav-bar">
        <nav>
          <a href="index.html"><img class="logo header-logo" src="Assets/full_logo_white.png" alt="Mr Coffee's logo, white"/></a>
        </nav>
        <nav>
          <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="about.html">Qui&nbsp;sommes-nous?</a></li>
            <li><a href="contact.html">Nous&nbsp;contacter</a></li>
          </ul>
        </nav>
    </div>
</header>