body {
    background:white;
}

.nav-bar {
    background: #6a7b8b;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 2rem;
    font-weight: 700;
}

.headerlogo{
    width: 3rem;
}