<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/header') %>
  <h1 style="color:cornflowerblue;"> New Schedules </h1>

  <form action="/new" method="post">
      <div>
          <label for="firstname"> First Name </label>
          <input id="firstname" name="firstname" type="text"> 
      </div>
    
      <div>
          <label for="lastname"> Last Name </label>
          <input id="lastname" name="lastname" type="text"> 
      </div>

      <div>
        <label for="email"> Email </label>
        <input id="email" name="email" type="email"> 
      </div>
      
    <div>
      <label for="day">Day</label>
      <select name="day" id="day"> 
          <option value="">Please select the day</option>
          <option value="1">Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thursday</option>
          <option value="5">Friday</option>
          <option value="6">Saturday</option>
          <option value="7">Sunday</option>
      </select>
    </div>

    <div>
      <label for="start_at">Start at</label>
      <input id="start_at" name="start_at" type="time" required min="9:00" max="17:00">
    </div>

    <div>
      <label for="end_at">End at</label>
      <input id="end_at" name="end_at" type="time" required min="9:00" max="17:00">
    </div>

    <button class="submit">Submit</button>
  </form>
</body>
</html>